$gap: 10px;
$stack-width: 300px;
$scrollbar-thickness: 17px;
$stack-header-height: 36px;
$stack-footer-height: 36px;
// Misc
$stack-border-radius: 5px;
$card-border-radius: 3px;
// Colors
  /*purple-theme */
$dark: #281439;
$dark-purple: #8c54c4;
$dark-grey: #e3dac9;
$purple: #7054c4;
$offwhite: #ffffff;
$light-purple: #f3ecf8;
$stackspage-bg-color: #eeeeee;
$grey: #8d8198;


$light-blue: rgba(230, 242, 255, 0.1);
$blue: #0066cc;
$dark-blue: #003366;
$blue-grey: #a7b6be;
  /*navy-theme*/
