@import '_variables.scss';
@import url("https://fonts.googleapis.com/css?family=Passion+One:900|Montserrat:700|Work+Sans");

//Container Styles
.cardpage {
  //reactstrap card default override
  &.card{
    background: rgba(230, 242, 255, 0);
    border: none !important;
    &.collapse.show {
      border: none;
      background-color: rgba(230, 242, 255, 0.125);
    }
  }
  .card-title {
    text-align: left;
  }
  .section {
    color: black;
    margin-bottom: 0.5rem;
  }
  .section-header {
    background-color: rgba(0, 0, 0, 1) !important;
    color: white;
    padding: 0.4rem;
  }
}

.description {
  .title {
    display: flex;
    text-align: center;
  }
  .edit {
    font-style: italic;
    cursor: pointer;
    margin-left: 0.4rem;
  }
  .content {
    text-align: center;
  }
}


//Lists
.list,
.add-item {
  width: 91%;
  margin: 0.4rem auto;
  padding: 0.2rem;
  box-shadow: 0.2px 0.5px 0.5px 0.5px #d7d6d8;
}

.list-header,
.list-contents {
    padding: 0.2rem;
}

.checkbox-item {
  width: 75%;
  margin: 0.2rem auto;
}

.delete-list {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  color: red;
  cursor: pointer
}

//Container with Comment and Replies
.threads-container{
  background-color: rgba(230, 242, 255, 0);

  .thread-replies {
    border-left: 1.5px solid rgba(230, 242, 255, 1);
    margin-left: 0.8rem !important;
  }
}

//Comment Box
.comment {
  .inner {
    position: relative;
    width: 92%;
    margin: 0.5rem auto;
    padding: 0.35rem;
    background-color: white !important;
    box-shadow: 0.2px 0.5px 0.5px 0.5px #d7d6d8;
  }
  .avatar {
    display: block;
    width: 2.5em;
    height: auto;
    float: left;
    margin: .2em 0 0;
  }
  .author {
    font-size: 1em;
    color: rgba(0,0,0,.87);
    font-weight: 700;
  }
  .date {
    position: absolute;
    top: 0.2rem;
    right: 1rem;
    margin-left: .5em;
    color: rgba(0,0,0,.4);
    font-size: .875em;
  }
  .add-reply {
    position: absolute;
    top: 2rem;
    right: 1rem;
    margin-left: .5em;
    font-size: .875em;
    cursor: pointer;
    display: flex;
  }
  .text {
    margin: .25em 0 .5em;
    font-size: 1em;
    word-wrap: break-word;
    color: rgba(0,0,0,.87);
    line-height: 1.3;
    padding-left: 1rem;
  }
}

.comments--add,
.lists--add {
  position: absolute;
  right: 0.5rem;
  top: 0.1rem;
  color: white;
  cursor: pointer;
}

//activity
.activity {
  margin: 0.25rem;
  padding: 0.25rem;
  &.entry {
      width: 90%;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
  }
}